@import 'partials/base';

body{
    background: url('../image/home/background-home.svg')top center no-repeat;
    background-color: #0D181D;
}

h2.titulo-principal{
    font-weight: bold;
    font-size: em(48);
    text-align: center;
    color: #fff;
    line-height: 126.19%;
    padding: 0 250px;
    margin-top: 108px;

    @include breakpoint($break-medium){ 
        padding: 0 10px;
        font-size: em(25);
        margin-top: 50px;
    }

    span{
        color: $cor-terciaria;
    }
}

.icon-union{
    display: flex;
    justify-content: center;
    margin-top: 35px;

    @include breakpoint($break-medium){
        width: 20px;
        margin: 0 auto;
        margin-top: 15px; 
    }
}

.app-magabank{
    justify-content: flex-end;    
    z-index: 99;

    @include breakpoint($break-medium){
        flex-direction: column;
    }

    .app-conteudo{
        width: 365px;
        margin-right: 56px;

        @include breakpoint($break-medium){
            width: 100%;
            margin: 50px 0 30px 0;
            padding: 0 10px;
        }

        &.descricao-padrao p{
            color: #fff;
        }
    }

    h3{
        color: #fff;
    }
}

.descricao-padrao p{
    font-size: em(13);
    line-height: 126.19%;
    color: $cor-texto;
    margin-top: 20px;

    @include breakpoint($break-medium){
        text-align: center; 
        font-size: em(15);
        line-height: 29px;
    }
}

.diferenciais-magabank{ 
    display: flow-root;
    position: relative;
    margin-top: -533px;
    z-index: -1;
    background: url(../image/home/background-branco.svg)center center no-repeat;

    @include breakpoint($break-medium){
        margin-top: -170px;
        background: #fff;
    }

    .diferenciais-conteudo{
        margin-top: 640px;

        @include breakpoint($break-medium){
            flex-direction: column;
            margin-top: 210px;
            padding: 0 10px;
        }

        &.container:after{
            display: none
        }

        .conta-digital{
            width: 419px;
        }

        .sem-anuidade{
            width: 348px;
        }

        .diferencial-item{
            @include breakpoint($break-medium){
                width: 100%;
                margin-bottom: 30px;
            }
        } 
    }

    .sem-taxas{
        background: #1C262A;
        @include box-shadow(0px 14px 24px rgba(0, 0, 0, 0.11));
        border-radius: 14px;
        margin-top: 90px;

        @include breakpoint($break-medium){
            margin-top: 30px;
            border-radius: 0;
            padding: 50px 9px;
        }

        .sem-taxas-image{
            width: 640px;

            @include breakpoint($break-medium){
                display: none;
            }
        }

        .sem-taxas-conteudo{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 600px;

            @include breakpoint($break-medium){
                width: 100%;
            }

            .descricao-padrao{
                width: 350px;

                h3{
                    color: #fff;
                }

                p{
                    color: #fff;
                }
            }

            ul.lista-beneficios{
                margin-top: 30px;

                li{
                    font-size: em(13);
                    color: #fff;
                    margin-top: 10px;

                    .icon-beneficio{
                        margin-right: 10px; 
                    }
                }
            }
        }
    }
} 

.crie-sua-conta{
    margin-top: 90px;

    @include breakpoint($break-medium){
        margin-top: 0;
        padding: 50px 0;
    }

    &:after{
        display: none;
    }

    .crie-sua-conta-conteudo{
        width: 551px;

        @include breakpoint($break-medium){
            width: 100%;
            padding: 0 10px;
        }

        &.descricao-padrao{
            h4{
                font-weight: bold;
                font-size: em(64);
                line-height: 126.19%;
                color: #fff;

                @include breakpoint($break-medium){
                    font-size: em(25);
                    text-align: center;
                }

                span{
                    color: $cor-terciaria;
                }
            }

            p{
                color: #fff;
            }

            a.fale-conosco{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 197.8px;
                height: 50px;
                background: linear-gradient(251.61deg, #2FABF7 -24.74%, #007EE0 73.02%);
                border: 1px solid #2FABF7;
                box-sizing: border-box;
                border-radius: 6px;
                font-size: em(13);
                color: #fff;
                margin-top: 30px;
                cursor: pointer;

                @include breakpoint($break-medium){
                    margin: 0 auto;
                    margin-top: 30px;
                }

                &:hover{
                    background: linear-gradient(251.61deg, #029fff -24.74%,#01579a 73.02%);
                }
            }
        }
    }

    .crie-sua-conta-image{
        width: 441px;

        @include breakpoint($break-medium){
            display: none;
        }
    }
}


.oferta-maquininha{
    background: #1C262A;
    @include box-shadow(0px 9px 34px rgba(0, 0, 0, 0.09));
    border-radius: 11px;
    margin-top: 28px;

    @include breakpoint($break-medium){
        flex-direction: column; 
        margin-top: 0;
        @include box-shadow(none);
        border-top: 1px solid $cor-bordas;
        border-bottom: 1px solid $cor-bordas;
        padding: 20px 10px;
        text-align: center;
        border-radius: 0;
    }

    .image-maquininha{
        @include breakpoint($break-medium){
            display: none;
        }
    }

    .conteudo-maquininha{
        width: 350px;
        margin-left: 60px; 

        @include breakpoint($break-medium){
            width: 100%;
            margin-left: 0;
        }

        h2{
            font-size: em(24);
            font-weight: bold;
            color: #fff;

            span{
                color: $cor-terciaria;
            }
        }

        p{
            font-size: em(13);
            color: #fff;
            line-height: 16px;
            margin-top: 5px;
        }
    }

    a.button-conheca-maquininha{
        display: flex;
        align-items: center;
        padding: 17px 28px;
        border-radius: 6px;
        color: #fff;
        font-size: em(13);
        font-weight: bold;
        margin-left: 125px;
        border: 1px solid #fff;

        @include breakpoint($break-medium){
            margin: 0 auto;
            margin-top: 20px;
        }

        &:hover{
            background: $cor-terciaria;
            border-color: $cor-terciaria;
        }

        .btn-icon{
            @include seta(8px, #fff, 'right');
            margin-left: 10px;
        }
    }
}