@import 'partials/base';

.conteudo-taxas {
    margin-bottom: 40px;
    margin-top: 100px;
    padding: 40px;
    background-color: #fafafa;

    h1{
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 80px;
        font-weight: bold;
        text-align: center;
    }

    p{
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 60px;
        margin-bottom: 20px;
        font-weight: bold;

        &:first-child{
            margin-top: 0px;     
        }
    }

    table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 300;

        tr{
            display: flex;
            justify-content: space-between
        }

        td{
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
            border: 0;

            &:last-child {
                min-width: 86px;
                font-weight: bold;
            }
        }
    }
}