@import 'partials/base';

footer{
    margin-top: 140px;

    &.is-tablet-mobile{
        margin-top: 30px;

        .atendimento,
        .links-uteis {
            ul {
                margin-top: 0;
            }
        }

        .footer-middle,
        .footer-middle .dados-loja,
        .conteudo-footer-middle{
            width: 100%; 
            flex-direction: column;
        }

        .footer-middle{
            p{
                font-size: em(15);
                line-height: 22px;
                padding: 0 10px;
            }
            a {
                font-size: em(14);
                margin-top: 7px;
            }
            .dados-loja{
                text-align: center;
                padding-bottom: 30px;

                a{
                    display: flex;
                    justify-content: center;
                }
            }
        }

        .footer-bottom {
            margin-top: 0;
            padding: 20px 0; 

            .dados-loja{
                text-align: center;
            }
        }

        .accordion {
            margin: 0;

            h4.section-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                font-size: em(16);
                margin: 0;
                padding: 10px;

                &:after,
                    &:before {
                    display: none;
                }
            }

            .content {
                padding: 10px;
            }
        }
    }

    h4.section-title{
        font-size: em(12);
        color: #fff;
        font-weight: bold;

        @include breakpoint($break-medium){
            font-size: em(16);
        }
    }

    .footer-middle{
        &:after{
            display: none;
        }

        p{
            font-size: em(12);
            line-height: 20px;
            color: #fff;
        }

        .dados-loja{
            width: 254px;

            h4{
                margin-top: 20px;
            }

            .horario-atendimento{
                margin-bottom: 25px;
            }
        }
    }


    .conteudo-footer-middle{
        width: 660px;

        a{
            font-size: em(12);
            line-height: 26px;
            color: #fff;
            cursor: pointer;

            &:hover{
                color: $cor-base;
            }

            &.destaque{
                font-weight: bold;
                color: $cor-base; 
            }
        }
    }

    .links-uteis{
        ul{
            margin-top: 10px;

            li{
                margin-top: 5px;
            }
        }
    }

    .atendimento{
        @include breakpoint($break-small){
            margin-top: 20px;
        }

        ul{
            margin-top: 10px;
        }

        .icon{
            margin-right: 10px;
        }
    }


    .footer-bottom{
        background: #fff;
        border-top: 1px solid $cor-bordas;
        padding: 10px 0;
        margin-top: 52px;

        .dados-loja{
            font-size: em(13); 
            color: $cor-texto-secundario;        
        }

        .flex{
            @include breakpoint($break-medium-big){
                flex-direction: column;
            }
        }

        .empresa-grupo{
            @include breakpoint($break-medium-big){
                margin-top: 10px;
            }
        }
    } 
}